@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: white;
    font-family: 'Kameron', serif, 'Noto Sans JP', sans-serif;
    margin: 0;
}


  
  @keyframes roll {
      0% {transform:rotate(0deg);}
     /* 30% {transform: translateX(1px);}
     50% {transform: translateX(-1px);}
     70% {transform: translateX(1px);}
     90% {opacity:1;} */
     100% {transform:rotate(20deg);top:100%;opacity:0;}
  }
  @keyframes anim {
    100% {color:transparent;top:150%;}
  }
